# ========================
# APP CONFIG
# ========================
APP_PORT=

# ========================
# DATABASE CONFIG
# ========================
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# ========================
# JWT CONFIG
# ========================
JWT_SECRET=